{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"}
]}.

{relx, [
    {release, {stw, "0.1.0"}, [stw, sasl]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.

{shell, [
    {apps, [stw]}
]}.

{eunit_opts, [verbose]}.
